@font-face {
    font-family: myfont;
    src: url(../font/verah.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "cormorant-garamond-semibold", sans-serif !important; */
    /* font-family: "avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light", sans-serif !important; */
    /* font-family: "Garamond Premier Pro Medium Display", sans-serif !important; */
    font-family: 'myfont', sans-serif !important;
    letter-spacing: 0.2px;
}

.main {
    background-image: linear-gradient(180deg, #f8fcfe, #ffffff);
}

.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: 0 1rem 2rem rgba(130, 133, 133, 0.175) !important;
    outline: -webkit-focus-ring-color auto 0px !important;
}

.brand-color {
    color: #D4484D !important;
}

.main-titlee {
    font-weight: 500;
    color: #001F2C;
}

.bi-check-circle-fill {
    color: #719D9A;
    filter: brightness(0.7);
}

.call-btn {
    background: #001F2C !important;
    border-radius: 5px;
    color: white !important;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 500;
    font-size: 20px;
}

.call-btn:hover {
    background-image: linear-gradient(106deg, #001F2C, rgb(77, 77, 77));
    color: white;
}

.reg-btn,
.reg-btn:hover {
    box-shadow: 0 1rem 2rem rgba(130, 133, 133, 0.175) !important;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    color: rgb(0, 0, 0) !important;
    font-weight: 900 !important;
    font-size: 2.5rem !important;
    margin-right: 0rem !important;
    height: 100px;
}

.navbar-brand-foot {
    color: rgb(0, 0, 0) !important;
    font-weight: 700;
    font-size: 1.8rem !important;
    margin-right: 0rem !important;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 800 !important;
    font-size: 20px;
}

.nav-link:hover,
.nav-link-active {
    color: #001F2C !important;
    text-decoration: underline #001F2C!important;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#myVideo {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    height: 480px;
    width: 620px;
}

.textt {
    font-size: 26px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.headline-textt {
    font-size: 1.2rem;
    max-width: 500px;
    line-height: 2rem;
    text-align: justify;
}

.imghei {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%)!important;
    background-size: 200% 100%!important;
    animation: shine 1.5s linear infinite;
    height: 320px !important;
    width: 100% !important;
    object-fit: cover!important;
    object-position: center!important;
}

.afte {
    position: relative;
    display: block;
    transition: all 0.3s;
}

.afte::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(200deg, rgba(218, 212, 212, 0), #0000002d);
    z-index: 21;
}

.afte:hover {
    transform: scale(1.04);
}

.afte-proj {
    position: relative;
    display: block;
    transition: all 0.3s;
}

.afte-proj::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 21;
}

.afte-proj:hover {
    transform: scale(1.04);
}

.card {
    padding: 0.6rem 0.5rem!important;
    border: rgb(103, 103, 103) !important;
    background-color: #ffffff !important;
    box-shadow: 0 1rem 2rem hsla(180, 1%, 52%, .175)!important;
}

.img-text {
    bottom: 5px;
    background-color: #ffffff;
    color: black;
    z-index: 22;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 1.3rem;
}

.tet-s {
    font-size: 0.9rem;
    font-weight: 500;
}

.rounded-mine {
    border-radius: 10px;
}

.regoimg {
    width: 125px;
    height: 90px;
}

.fields {
    width: 100%;
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #f1f3fa;
}

.foot-up-img {
    opacity: 0.25;
    margin-bottom: -5px;
    overflow: hidden;
    width: 100% !important;
}

.footer-logo {
    width: 200px;
}

.sm-text {
    font-size: 12px;
}

.mybot {
    margin-bottom: 3px !important;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 48px;
        line-height: 46px;
    }
    .center-sm {
        text-align: center;
    }
}